@use '@angular/material' as mat;

// Indigo palette (default)
.indigo-theme {
  --primary-color: #3f51b5;
}

// Purple palette
.purple-theme {
  $primary: mat.define-palette(mat.$purple-palette);
  $accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
  $warn: mat.define-palette(mat.$red-palette);
  $theme: mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  ));
  @include mat.all-component-colors($theme);
  --primary-color: #9c27b0;
}

// Teal palette
.teal-theme {
  $primary: mat.define-palette(mat.$teal-palette);
  $accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
  $warn: mat.define-palette(mat.$red-palette);
  $theme: mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  ));
  @include mat.all-component-colors($theme);
  --primary-color: #009688;
}

// Pink palette
.pink-theme {
  $primary: mat.define-palette(mat.$pink-palette);
  $accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
  $warn: mat.define-palette(mat.$red-palette);
  $theme: mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  ));
  @include mat.all-component-colors($theme);
  --primary-color: #e91e63;
}

// Amber palette
.amber-theme {
  $primary: mat.define-palette(mat.$amber-palette);
  $accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
  $warn: mat.define-palette(mat.$red-palette);
  $theme: mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  ));
  @include mat.all-component-colors($theme);
  --primary-color: #ffc107;
}
