/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

// Import custom themes
@import './styles/themes/light-theme';
@import './styles/themes/dark-theme';
@import './styles/themes/palettes';

// Custom styles
@import './styles/main';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
}
